<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kaya.playify.playify">
    <application>
        <service android:enabled="true" android:name=".PlayifyPlayer" />
        <receiver
            android:name=".PlayifyPlayer"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.android.music.playbackcomplete" />
                <action android:name="com.android.music.queuechanged" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
